@define-color foreground #FEEFFA;
@define-color background #1C1519;
@define-color background-alt rgba(28,21,25,0.25);
@define-color cursor #C295AE;

@define-color color_blue #2414d0;
@define-color color_light_blue #215cde;
@define-color color_cyan #24b7db;
@define-color color_grey #524d51;
 
* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    min-height: 0;
    /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
    font-size: 97%;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}


window#waybar.empty,
window#waybar.empty #window {
    background-color: transparent;
    padding: 0px;
    border: 0px;
}

#window {
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: transparent;
	background: transparent;
}

#workspaces {
    border-width: 2px;
    border-color: @color_cyan;
    border-style: solid;
    border-radius: 10px;
    background: @color_grey;
}

#taskbar button,
#workspaces button {
    color: @foreground;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    padding-left: 4px;
    padding-right: 4px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button.active,
#workspaces button.active {
    color: @color_blue;
    background-color: @foreground;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button.focused,
#workspaces button.focused {
    color: @color_blue;
}

#workspaces button.urgent {
    color: #11111b;
    border-radius: 10px;
}

#taskbar button:hover,
#workspaces button:hover {
    color: @color_cyan;
    padding-left: 2px;
    padding-right: 8px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workplaces,
#workplaces button,
#taskbar,
#taskbar button,
#battery,
#mpris,
#network,
#wireplumber,
#clock{
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 10px;
	transition: none;
	color: @foreground;
	background: @color_grey;
    border-width: 2px;
    border-color: @color_cyan;
    border-style: solid;
}

#custom-separator{
    color: white;
}

#mpris{
    padding-right: 12px;
}

